<head>
    <link rel="stylesheet" href="~/Content/Site.css">
</head>

<div class="flex justify-center">
    <div class="lg:gap-4 lg:flex">
        <div class="flex flex-col items-center justify-center md:py-24 lg:py-32">
            <h1 class="font-bold blue-color2 text-9xl">404</h1>
            <p class="mb-2 text-2xl font-bold text-center text-gray-800 md:text-3xl">
                <span class="text-green-700">Oops!</span> Page not found
            </p>
            <p class="mb-8 text-center text-gray-500 md:text-lg">
                The page you’re looking for doesn’t exist.
            </p>
            <a href="/Home"
               class="font-medium rounded-lg text-sm px-5 py-2.5 text-center btn-green-color shadow">Go home</a>
        </div>
    </div>
</div>
