@{
    Infraestructure.Model.User user = (Infraestructure.Model.User)Session["User"];
    Infraestructure.Model.Resident resident = (Infraestructure.Model.Resident)Session["Resident"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terrazas</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src="~/Content/tailwind.min.js"></script>
    <link rel="stylesheet" href="~/Content/Navigation.css">
    @Styles.Render("~/Content/JQueryCSS")
</head>
<body class="active bg-transparent">

    <div class="wrapper">
        <div class="section">
            <div id="top-navbar" class="top_navbar flex justify-between">

                <div>

                    <a>
                        <img class="block h-8 w-auto cover-img" id="cover-img" style="height: 6rem; width:auto"
                             src="~/Content//logo/cover.png" alt="Your Company">
                    </a>
                </div>

                <div class="hamburger px-5">
                    <a href="#" class="block h-8 w-auto ">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>

            </div>
            <div class="container">
                @RenderBody()

            </div>
        </div>
        <div id="sidebar" class="sidebar">

            <div class="flex justify-end m-4" id="close-btn">
                <a class="close-icon">

                    <i class="fas fa-times hover:text-white" style="font-size: 2rem; color: #F9F9F9 "></i>
                </a>
            </div>

            @if (user != null)
            {


                if (user.IdRol == 2)
                {



                    <div class="profile">
                        <i class="fas fa-home" style="font-size:6rem; color:#42b883;"></i>
                        <div class="rounded-full mx-auto" style="background:#42b883; width:50px">

                            <h3 class="font-extrabold rounded-full">
                                @resident.HouseNumber
                            </h3>
                        </div>
                    </div>
                }
                else
                {
                    <div class="profile">
                        <i class="fas fa-user" style="font-size:6rem; color:#42b883;"></i>
                        <div class="rounded-full mx-auto" style="background:#42b883; width:150px">

                            <h3 class="font-extrabold rounded">
                                Administrator
                            </h3>
                        </div>
                    </div>
                }
        <ul>
            <li>
                <a href="/Home/">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span class="item">Home</span>
                </a>
            </li>
            @if (user.IdRol == 2)
            {
                <li>
                    <a href="/Account/">
                        <span class="icon"><i class="fas fa-wallet"></i></span>
                        <span class="item">Finances</span>
                    </a>
                </li>

                <li>
                    <a href="/Incident/">
                        <span class="icon"><i class="fas fa-ticket-alt"></i></span>
                        <span class="item">Incidents</span>
                    </a>

                    <ul class="ml-5">
                        <li>
                            <a href="/Incident/NewIncident">
                                • New Incident
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="/Booking/">
                        <span class="icon"><i class="fas fa-book"></i></span>
                        <span class="item">Booking</span>
                    </a>
                    <ul class="ml-5">
                        <li>
                            <a href="/Booking/MyBookings">
                                • My Bookings
                            </a>
                        </li>
                    </ul>
                </li>


            }
            @if (user.IdRol == 1)
            {

                <li>
                    <a id="dropDrownButtonResident">
                        <div class="flex">

                            <span class="icon"><i class="fas fa-ticket-alt"></i></span>
                            <span class="item">Residents</span>
                            <svg class="w-4 h-4 ml-2 mt-1" aria-hidden="true" fill="none" stroke="currentColor"
                                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </div>
                    </a>
                    <ul class="ml-5 hidden" id="dropDrownResident">
                        <li>
                            <a href="/Resident/">
                                • Resident
                            </a>
                        </li>
                        <li>
                            <a href="/Resident/New">
                                • New Resident
                            </a>
                        </li>
                    </ul>
                </li>

                <li>

                    <a id="dropDrownButtonPlan">
                        <div class="flex">

                            <span class="icon"><i class="fas fa-ticket-alt"></i></span>
                            <span class="item">Plans</span>
                            <svg class="w-4 h-4 ml-2 mt-1" aria-hidden="true" fill="none" stroke="currentColor"
                                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </div>
                    </a>
                    <ul class="ml-5 hidden" id="dropDrownPlan">
                        <li>
                            <a href="/Plan/">
                                • Plan
                            </a>
                        </li>
                        <li>
                            <a href="/Plan/New">
                                • New Plan
                            </a>
                        </li>
                    </ul>
                </li>



                <li>

                    <a id="dropDrownButtonCollection">
                        <div class="flex">

                            <span class="icon"><i class="fas fa-ticket-alt"></i></span>
                            <span class="item">Collections</span>
                            <svg class="w-4 h-4 ml-2 mt-1" aria-hidden="true" fill="none" stroke="currentColor"
                                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </div>
                    </a>
                    <ul class="ml-5 hidden" id="dropDrownCollection">
                        <li>
                            <a href="/Collection/">
                                • Collection
                            </a>
                        </li>
                        <li>
                            <a href="/Collection/New">
                                • New Collection
                            </a>
                        </li>
                    </ul>
                </li>

                <li>

                    <a id="dropDrownButtonAccount">
                        <div class="flex">

                            <span class="icon"><i class="fas fa-ticket-alt"></i></span>
                            <span class="item">Account</span>
                            <svg class="w-4 h-4 ml-2 mt-1" aria-hidden="true" fill="none" stroke="currentColor"
                                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </div>
                    </a>
                    <ul class="ml-5 hidden" id="dropDrownAccount">
                        <li>
                            <a href="/Account/Admin">
                                • Account
                            </a>
                        </li>
                        <li>
                            <a href="/Account/">
                                • All
                            </a>
                        </li>
                    </ul>
                </li>




                <li>
                    <a id="dropDrownButtonSocialArea">
                        <div class="flex">

                            <span class="icon"><i class="fas fa-ticket-alt"></i></span>
                            <span class="item">Social Area</span>
                            <svg class="w-4 h-4 ml-2 mt-1" aria-hidden="true" fill="none" stroke="currentColor"
                                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </div>
                    </a>
                    <ul class="ml-5 hidden" id="dropDrownSocialArea">
                        <li>
                            <a href="/SocialAreaAdmin/">
                                • Bookings
                            </a>
                        </li>
                        <li>
                            <a href="/SocialAreaAdmin/PendingBooking">
                                • Pending Bookings
                            </a>
                        </li>
                    </ul>
                </li>


                <li>

                    <a href="/Incident/AllIncidents">
                        <span class="icon"><i class="fas fa-ticket-alt"></i></span>
                        <span class="item">Incidents</span>
                    </a>
                </li>

                <li>

                    <a href="/ChargesAdmin/">
                        <span class="icon"><i class="fas fa-ticket-alt"></i></span>
                        <span class="item">Charges</span>
                    </a>
                </li>

            }

            <li>
                <a href="/">
                    <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                    <span class="item">Sign Out</span>
                </a>
            </li>
        </ul>
            }
        </div>

    </div>
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/jqueryUI")

    <script>
        if (this.screen.width > 800) {
            document.querySelector("body").classList.remove("active");
        }
        addEventListener("resize", function () {
            if (this.screen.width > 800) {
                document.querySelector("body").classList.remove("active");
            }
        })

        var hamburger = document.querySelector(".hamburger");
        hamburger.addEventListener("click", function () {
            document.querySelector("body").classList.toggle("active");
        })
        var navbar = document.getElementById("close-btn");
        navbar.addEventListener("click", function () {
            document.querySelector("body").classList.toggle("active");
        })


        //Dropdown List Resident
        document.getElementById("dropDrownButtonResident").addEventListener("click", function () {
            document.getElementById("dropDrownResident").classList.toggle("hidden");
        })

        //Dropdown List Plan
        document.getElementById("dropDrownButtonPlan").addEventListener("click", function () {
            document.getElementById("dropDrownPlan").classList.toggle("hidden");
        })

        //Dropdown List Collection
        document.getElementById("dropDrownButtonCollection").addEventListener("click", function () {
            document.getElementById("dropDrownCollection").classList.toggle("hidden");
        })

        //Dropdown List Account
        document.getElementById("dropDrownButtonAccount").addEventListener("click", function () {
            document.getElementById("dropDrownAccount").classList.toggle("hidden");
        })


        //Dropdown List Social Area
        document.getElementById("dropDrownButtonSocialArea").addEventListener("click", function () {
            document.getElementById("dropDrownSocialArea").classList.toggle("hidden");
        })







    </script>
</body>
</html>
