@{
    Infraestructure.Model.User user = (Infraestructure.Model.User)Session["User"];
    Infraestructure.Model.Resident resident = (Infraestructure.Model.Resident)Session["Resident"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terrazas</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src="~/Content/tailwind.min.js"></script>
    <link rel="stylesheet" href="~/Content/Navigation.css">
</head>
<body class="active">

    <div class="wrapper">
        <div class="section">
            <div id="top-navbar" class="top_navbar flex justify-between">

                <div>

                    <a>
                        <img class="block h-8 w-auto cover-img" id="cover-img" style="height: 6rem; width:auto"
                             src="~/Content//logo/cover.png" alt="Your Company">
                    </a>
                </div>

                <div class="hamburger px-5">
                    <a href="#" class="block h-8 w-auto ">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>

            </div>
            <div class="container">
                @RenderBody()

            </div>
        </div>
        <div id="sidebar" class="sidebar">

            <div class="flex justify-end m-4" id="close-btn">
                <a class="close-icon">

                    <i class="fas fa-times hover:text-white" style="font-size: 2rem; color: #F9F9F9 "></i>
                </a>
            </div>

            @if (user != null)
            {


                if (user.IdRol == 2)
                {



                    <div class="profile">
                        <i class="fas fa-home" style="font-size:6rem; color:#42b883;"></i>
                        <div class="rounded-full mx-auto" style="background:#42b883; width:50px">

                            <h3 class="font-extrabold rounded-full">
                                @resident.HouseNumber
                            </h3>
                        </div>
                    </div>
                }
                else
                {
                    <div class="profile">
                        <i class="fas fa-user" style="font-size:6rem; color:#42b883;"></i>
                        <div class="rounded-full mx-auto" style="background:#42b883; width:150px">

                            <h3 class="font-extrabold rounded">
                                Administrator
                            </h3>
                        </div>
                    </div>
                }
                <ul>
                    <li>
                        <a href="/Home/">
                            <span class="icon"><i class="fas fa-home"></i></span>
                            <span class="item">Home</span>
                        </a>
                    </li>
                    @if (user.IdRol == 2)
                    {
                        <li>
                            <a href="/Account/">
                                <span class="icon"><i class="fas fa-wallet"></i></span>
                                <span class="item">Finances</span>
                            </a>
                        </li>

                        <li>
                            <a href="/Incident/">
                                <span class="icon"><i class="fas fa-ticket-alt"></i></span>
                                <span class="item">Incidents</span>
                            </a>
                            <ul class="ml-5">
                                <li>
                                    <a href="/Incident/NewIncident">
                                        • New Incident
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (user.IdRol == 1)
                    {

                        <li>
                            <a href="/Resident/">
                                <span class="icon"><i class="fas fa-user-friends"></i></span>
                                <span class="item">Residents</span>
                            </a>
                            <ul class="ml-5">
                                <li>
                                    <a href="/Resident/New">
                                        • New Resident
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="/Plan/">
                                <span class="icon"><i class="fas fa-map"></i></span>
                                <span class="item">Plans</span>
                            </a>
                            <ul class="ml-5">
                                <li>
                                    <a href="/Plan/New">
                                        • New Plan
                                    </a>
                                </li>
                            </ul>
                        </li>



                        <li>
                            <a href="/Collection/">
                                <span class="icon"><i class="fas fa-money-bill-wave-alt"></i></span>
                                <span class="item">Collections</span>
                            </a>
                            <ul class="ml-5">
                                <li>
                                    <a href="/Collection/New">
                                        • New Collection
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="/Account/Admin">
                                <span class="icon"><i class="fas fa-wallet"></i></span>
                                <span class="item">Finances</span>
                            </a>
                            <ul class="ml-5">
                                <li>
                                    <a href="/Account/">
                                        • All
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>

                            <a href="/Incident/AllIncidents">
                                <span class="icon"><i class="fas fa-ticket-alt"></i></span>
                                <span class="item">Incidents</span>
                            </a>
                        </li>
                    }

                    <li>
                        <a href="/">
                            <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                            <span class="item">Sign Out</span>
                        </a>
                    </li>
                </ul>
            }
        </div>

    </div>

    <script>
        if (this.screen.width > 800) {
            document.querySelector("body").classList.remove("active");
        }
        addEventListener("resize", function () {
            if (this.screen.width > 800) {
                document.querySelector("body").classList.remove("active");
            }
        })

        var hamburger = document.querySelector(".hamburger");
        hamburger.addEventListener("click", function () {
            document.querySelector("body").classList.toggle("active");
        })
        var navbar = document.getElementById("close-btn");
        navbar.addEventListener("click", function () {
            document.querySelector("body").classList.toggle("active");
        })
    </script>
</body>
</html>
